<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,45},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,20}</string>
                <key>spriteSourceSize</key>
                <string>{480,20}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>progress_fill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,20}</string>
                <key>spriteSourceSize</key>
                <string>{480,20}</string>
                <key>textureRect</key>
                <string>{{1,23},{480,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA4444</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loaderSheet.png</string>
            <key>size</key>
            <string>{482,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b7281c4af253af2d1f500d3fd1eb1e5:4dad71c231a0f064c0ee86521780d752:2c5e71fedb57d6e4d1feb77b8789b33e$</string>
            <key>textureFileName</key>
            <string>loaderSheet.png</string>
        </dict>
    </dict>
</plist>
